{:deps
 {
  org.clojure/clojure {:mvn/version "1.10.0"}
  github-clojure/core.async 
  {:git/url "https://github.com/clojure/core.async.git"
   :sha "594cf3161d6f04b0b34852f42093446ffa7636b9"}
  }
 }
